* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Maven Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500" rel="stylesheet');
}

@font-face {
    font-family: 'Amatic SC', cursive;
    src: url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet');
}

@font-face {
    font-family: 'cwTeXYen', sans-serif;
    src: url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/

.nav {
    position: fixed;
    left:0;
    top:0;
    padding-top:1rem;
    padding-right:20px;
    background:rgba(0, 0, 0, 0.8);
    height:3rem;
    width:100%;
    text-align: right;
    z-index: 10;
}

.nav span {
    font-family: 'Maven Pro', sans-serif;
    padding: 0  10px;
    color: whitesmoke;
    font-size: 1rem;
}
