/*main section*/
body {
    background-color: black;
    opacity: 0.8;
    width:100%;
}

.main {
    padding-top: 2.9rem;
    position:relative;
    background-color: black;
    text-align: center;
}

.main__img {
    width:90%;
    height:auto;
    opacity: 0.8;
    margin-bottom: -4px;
    border-radius: 15px;
}

.main__typing {
    width:80%;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.main__typing p {
    text-align: left;
    color:ghostwhite;
    padding-top: 10px;
    font-family: 'cwTeXYen', sans-serif;
    font-size: 1rem;
    margin: auto;
}

/*middle Section*/
.middleSection {
    margin: auto;
    height: 600px;
    width: 90%;
    background-color: rgba(49, 66, 66, 0.7);
    background-size: contain;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#selfImg {
    height: 280px;
    width: 280px;
    z-index: 3;
    border: 0.2rem solid rgb(96, 96, 97);
    border-radius: 100%;
}

#sepLine {
    width: 90%;
    position: absolute;
    bottom: 5%;
}

.hobbies {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hobbies span {
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
    font-size: 4rem;
    text-align: center;
    display: inline;
}

/*about section*/
.aboutSection {
    border-radius: 15px;
    font-family: 'cwTeXYen', sans-serif;
    padding: 5rem 5rem;
    width: 90%;
    height: auto;
    background-color:rgb(30, 51, 71); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    border-left: 3rem solid rgb(30, 51, 71);
    border-right: 3rem solid rgb(30, 51, 71);
}

h1 {
    padding: 2% 0;
    font-family: 'cwTeXYen', sans-serif;
    color:goldenrod;
    text-align: left;
}

h2 {
    padding-top: 2%;
    font-family: 'cwTeXYen', sans-serif;
    color:bisque;
    text-align: left;
}

.aboutSection p {
    padding-top: 1rem;
    color:tan;
    text-align: left;
}

.aboutSection span {
    padding: 0.3rem;
    color:gainsboro;
    text-align: left;
}

.aboutSection__block {
    width:100%;
    color: whitesmoke;
    display: inline-flex;
    justify-content: space-between;
}


.paddingTop {
    padding-top: 0.8rem;
}

/*footer section*/
footer {
    padding:2rem 0;
    bottom: 0;
    text-align: center;
}

footer span {
    font-family: 'Maven Pro', sans-serif;
    padding: 10px 0;
    color:whitesmoke;
}

@media only screen and (max-width: "800px"){
    .aboutSection,
    .main__img {
        width: 100%;
        border: none;
        padding:0;
        margin:0;
    }
}