body {
    background-color:rgb(30, 51, 71); 
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/*Gallery Section*/
h1 {
    margin-top: 1rem;
    color: goldenrod;
    font-family: 'Amatic SC', cursive;
    text-align: center; 
}

.gallery {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    width: 80%;
    flex-wrap: wrap;
}

.gallery__img {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    padding: 5px;
}

.title {
    padding:15px;
}

/*Album Section*/
.albumSection {
    width: auto;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.albumsContainer {
    width:80%;
    display: relative;
    height:auto;
}

.albumsContainer__leftSelection{
    position: fixed;
    top:0;
    left: 2%;
    /* background-color:rgba(205, 133, 63, 0.3);*/
    background-color: rgba(218, 165, 32,0.8);
    background-size: 1px;
    height:100%;
    width:14%;
    padding-top:10%;
}

.albumSection__albumTitle span,
.albumsContainer__leftSelection p{
    color: whitesmoke;
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive;
    padding: 0 20px;

}

.albumSection__albumTitle span:hover,
.albumsContainer__leftSelection p:hover{
    font-size: 4rem;
    color:burlywood;
    transition:  color .20s linear;
}

.albums {
    margin:20px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.albums p {
    padding: 10px 0;
    text-align: center;
    color: whitesmoke;
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive;
}

.albums__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
}

.albums__imgs img{
    width:480px;
    height:320px;
}
